
@import url('https://fonts.googleapis.com/css?family=Open+Sans|PT+Sans&display=swap');

body, html {
  background-color:white;
  color:black;
  font-family: 'Open Sans', sans-serif;
}

#logo {
  width:40%;
  padding: 10px;
}

#header {
  height:50%;
}
/* Style the navigation menu */
.topnav {
 overflow: hidden;
 background-color: white;
 color: #9c4bf9;
 position: relative;
}

/* Hide the links inside the navigation menu (except for logo/home) */
.topnav #myLinks {
 display: none;
}

/* Style navigation menu links */
.topnav a {
 color: #9c4bf9;
 padding: 14px 16px;
 text-decoration: none;
 font-size: 15px;
 font-family: 'PT Sans', sans-serif;
 font-weight: bold;
 display: block;
}

/* Style the hamburger menu */
.topnav a.icon {
 background: white;
 display: block;
 position: absolute;
 right: 25px;
 top:25px;
font-size: 25px;
 top: 0;
}

/* Add a grey background color on mouse-over */
.topnav a:hover {
 background-color: #9c4bf9;
 color: white;
}

/* Style the active link (or home/logo) */
.active {
 background-color: white;
 color: #9c4bf9;
}



/* Phones */
@media only screen and (max-width: 600px) {...}

/* Tablets */
@media only screen and (min-width: 768px) {...}

/* Desktop */
@media only screen and (min-width: 992px) {

  #logo {
  width:15%;
  padding: 10px;
}
.topnav a.icon {

 top: 25px;

}
}
